.avatar-container {
  display: grid;
  place-items: center;
  font-size: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #2b963a;
  color: #fff;
  border-radius: 9999px;
  position: relative;
}

.avatar-container .status-indicator {
  position: absolute;
  bottom: 0rem;
  right: -0.05rem;
  border: 1px solid #fff;
  background-color: #dfe1e4;
  height: 0.35rem;
  width: 0.35rem;
  border-radius: 9999px;
}

.avatar-container .status-indicator.available {
  background-color: #e8b602;
}
